.title-text {
  font-family: "Modak";
  font-size: 15vh;
  font-weight: 300;
}

.primary {
  color: #fe4a49;
}
.secondary {
  color: #fed766;
}

.background {
  background-color: #2ab7ca;
}
.normal-text {
  font-family: "Raleway";
  font-size: 4vh;
  font-weight: 100;
}

.italic {
  font-style: italic;
}

body {
  margin: 0;
  padding: 0;
}
